body{
	margin:0;
	padding:0;
	background-color: #F4F4F4;
	background:url('../images/background.jpg') no-repeat center fixed;
	-webkit-background-size:cover;
	background-size:cover;
	padding-top: 70px;
}

/* navbar */
.navbar-default{
	background-color: #ffffff;
}
.navbar-right{
	color: #7F7F7F;
	font-weight: bold;
}
.navbar-brand{
	font-family: 'century gothic';
	font-size: 24px;
	color: black !important;
}

/* common */
.txtcenter{
	text-align: center;
}


.indexContainer{
	margin-top: 100px;
}
.indexContainer span{
	color: #F8771C;
}
.indexContainer h2{
	margin-top: 5px;
	margin-bottom: 5px;
}
.indexContainer .btn-default{
	box-shadow: 0px 0px 15px #292929;
}
.indexContainer div{
	margin-bottom: 80px;
}
@media screen and (max-width: 767px) {
	.indexContainer div{
		margin-bottom: 30px;
	}
	.indexContainer .btn-left{
		margin-bottom: 30px;
	}
}
.formulaire, .filter, .listContent, .profilContent, .detailContent{
	background-color: white;
	padding: 20px;
	box-shadow: 0px 0px 15px #292929;
	border-radius: 7px;
}
.formulaire .btn-default, .detailContent .btn-default{
	background-color: #F8771c;
	color: white;
	border: 0;
	padding: 10px 15px;
}
.formulaire .btn-default:hover, .detailContent .btn-default:hover{
	background-color: #454545;
	color: white;
	border: 0;
	padding: 10px 15px;
}
.formulaire .btnValidation{
	text-align: center;
}
.formulaire li{
	color: #a94442;
	background-color: #f2dede;
	border: 1px solid #ebccd1;
	list-style: none;
	margin-left: -40px;
	padding: 5px;
	padding-left: 10px;
	border-radius: 4px;
}
.error{
	color: #a94442;
	background-color: #f2dede;
	border: 1px solid #ebccd1;
	padding: 5px;
	padding-left: 10px;
	border-radius: 4px;
	margin-bottom: 10px;
}
.validation{
	color: #3c763d;
	background-color: #dff0d8;
	border: 1px solid #d6e9c6;
	padding: 5px;
	border-radius: 4px;
	margin-bottom: 10px;
}
.filter{
	margin-bottom: 20px;
	text-align: center;
}
.filter select, .filter input, .filter button, .filter a{
	margin-left: 5px;
	margin-right: 5px;
}
.listContent .btn{
	background-color: #F8771C;
	border-color: #E2680D;
}
.listContent td,.listContent th{
	text-align: center;
}

.profilContent h3, .detailContent h3{
	margin-top: 0px;
}
.profilInformation{
	border-bottom: 1px solid #F8771c;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.titre{
	border-bottom: 1px solid #F8771c;
	padding-bottom: 15px;
	margin-bottom: 25px;
}
.detailContent h4{
	margin-top: 40px;
}
.comment{
	padding: 10px;
}
.comment b{
	color: #F8771c;
}
.comment p{
	margin-bottom: 0px;
}
.questions{
	margin-top: 20px;
}
.modif{
	margin-top: 25px;
}
@media screen and (max-width: 767px) {
	.modif{
		margin-top: 0px;
	}
}
.profilContent .nav{
	margin-bottom: 20px !important;
}
.ancien{
	font-size: 14px;
}
.link{
	color: #F8771c;
}
.link:hover{
	color: #454545;
}
.active .pills{
	background-color: #F8771c !important;
}
.pills, .pills:hover{
	color: #F8771c;
}
